@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

.barre-nav, footer{
    background-color: #6A5C59;
}

.mon-conteneur{
    min-height: 86vh;
}

h1, h3, .titre-nav{
    font-family: 'Rampart One', cursive !important;
}

p{
    text-align: justify !important;
}
