# le fichier gitignore permet d'indiquer à Git quel dossier ou quel fichier ne doit pas être versionné sur GITHUB
# Nous indiquons que le dossier 'videos' ne doit pas être versionné sur GITHUB
# Nous indiquons que le fichier 'branch.txt' ne doit pas être versionné sur GITHUB
/assets/videos
/branch.txt